<table class="table table-striped table-bordered col-3">
  <thead>
  <tr>
    <th>NEW</th>
  </tr>
  </thead>

  <div class="input-group">
    market : &nbsp;<input type="text" class="form-control" required #itemTitle>&nbsp;

    amount : &nbsp;<input type="text" class="form-control" #itemAmount>&nbsp;

    <!--    Date : &nbsp;<ejs-datepicker id='datepicker' placeholder='Select a date' [value]='dateValue' [min]='minDate' [max]='maxDate'></ejs-datepicker>-->
    <ejs-datepicker id='datepicker' placeholder='Select a date' #itemDate format='dd-MM-yyyy'></ejs-datepicker>

    <div class="input-group-addon hover-cursor" (click)="onAdd(itemTitle, itemAmount, itemDate)">
      <i class="fa fa-plus-circle fa-2x"></i>
    </div>
  </div>
</table>
