<form [formGroup]="budgetForm" (ngSubmit)="onSubmit()">
  <div class="container">
      <div class="col-sm-1">
        <h5>Nieuw</h5>
      </div>
    <br>

    <div class="container">
      <div class="row justify-content-sm-center">
        <div class="col-sm-4">
          <input id="purchaseDescription" class="form-control" type="text" formControlName="description" required
                 placeholder="Market">
          <div *ngIf="f.description.invalid && (f.description.dirty || f.description.touched)"
               class="alert alert-danger">
            <div *ngIf="f.description.errors.required">
              Name is required.
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <input id="purchaseAmount" class="form-control" type="text" formControlName="amount" required
                 placeholder="Amount">
          <div *ngIf="f.amount.invalid && (f.amount.dirty || f.amount.touched)"
               class="alert alert-danger">
            <div *ngIf="f.amount.errors.pattern">
              No characters allowed
            </div>
            <div *ngIf="f.amount.errors.required">
              Amount is required.
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" formControlName="budgetDate" required
                   placeholder="Date"
                   name="dp" ngbDatepicker #d="ngbDatepicker">

            <div class="input-group-append">
              <span class="input-group-text"  (click)="d.toggle()"><i class="fa fa-calendar fa-lg"></i></span>
            </div>
          </div>
          <div *ngIf="f.budgetDate.invalid && (f.budgetDate.dirty || f.budgetDate.touched)"
               class="alert alert-danger">
            <div *ngIf="f.budgetDate.errors.required">
              Date is required.
            </div>
          </div>
        </div>
        <div class="col-sm-1">
          <button type="submit" data-toggle="tooltip" data-placement="right" title="Voeg toe" [disabled]="!budgetForm.valid"><i class="fa fa-plus fa-2x"></i></button>
        </div>
        <div class="col-sm-1">
          <button class="btn btn-outline-primary btn-block bg-light font-weight-bold" data-toggle="tooltip" data-placement="right" title="Home"routerLink="/home/home" ><i class="fa fa-home fa-lg"></i></button>
        </div>
        <div class="col-sm-1">
          <button class="btn btn-outline-primary btn-block bg-light font-weight-bold" data-toggle="tooltip" data-placement="right" title="Uitloggen"routerLink="/admin/login" ><i class="fa fa-sign-out fa-lg"></i></button>
        </div>
      </div>
    </div>
  </div>
</form>
