<form [formGroup]="budgetForm" (ngSubmit)="onSubmit()">
  <table class="table table-striped table-bordered table-sm">
    <thead>
    <tr>
      <th colspan="5">NEW</th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <td>
        <input id="purchaseDescription" class="form-control" type="text" formControlName="description" required
               placeholder="Market">
        <div *ngIf="f.description.invalid && (f.description.dirty || f.description.touched)"
             class="alert alert-danger">
          <div *ngIf="f.description.errors.required">
            Name is required.
          </div>
        </div>
      </td>
      <td>
        <input id="purchaseAmount" class="form-control" type="text" formControlName="amount" required
               placeholder="Amount">
        <div *ngIf="f.amount.invalid && (f.amount.dirty || f.amount.touched)"
             class="alert alert-danger">
          <div *ngIf="f.amount.errors.pattern">
            No characters allowed
          </div>
          <div *ngIf="f.amount.errors.required">
            Amount is required.
          </div>
        </div>
      </td>
      <td>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" formControlName="budgetDate" required
                 placeholder="Date"
                 name="dp" ngbDatepicker #d="ngbDatepicker">

          <div class="input-group-append">
            <span class="input-group-text"  (click)="d.toggle()"><i class="fa fa-calendar fa-lg"></i></span>
          </div>
        </div>
        <div *ngIf="f.budgetDate.invalid && (f.budgetDate.dirty || f.budgetDate.touched)"
             class="alert alert-danger">
          <div *ngIf="f.budgetDate.errors.required">
            Date is required.
          </div>
        </div>
      </td>
      <td>
        <button type="submit" data-toggle="tooltip" data-placement="right" title="Voeg toe" [disabled]="!budgetForm.valid"><i class="fa fa-plus fa-2x"></i></button>
      </td>
      <td>
        <button class="btn btn-outline-primary btn-block bg-light font-weight-bold" data-toggle="tooltip" data-placement="right" title="Home"routerLink="/home/home" ><i class="fa fa-home fa-lg"></i></button>
      </td>
      <td>
        <button class="btn btn-outline-primary btn-block bg-light font-weight-bold" data-toggle="tooltip" data-placement="right" title="Home"routerLink="/admin/login" ><i class="fa fa-stop-circle fa-lg"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</form>
