<div class="container ">
  <div class="row justify-content-sm-center">
    <div class="col bg-info text-white text-lg-center">
      <a class="navbar-brand"><b>Andere rekeningen</b></a>
    </div>
  </div>
  <br>

  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="col-sm-1">
        <button class="btn btn-outline-primary btn-block bg-light font-weight-bold" data-toggle="tooltip"
                data-placement="right" title="Home" routerLink="/home/home"><i class="fa fa-home fa-lg"></i></button>
      </div>
      <div class="col-sm-2 font-weight-bold">
        <button class="btn btn-outline-primary btn-block bg-light font-weight-bold " data-toggle="tooltip"
                data-placement="right" title="Uitloggen" (click)="signOut()"><i class="fa fa-sign-out fa-lg"></i>
        </button>
      </div>
    </div>
    <br>

    <div class="row justify-content-sm-center">
      <div class="col-sm-4">
        <button class="btn btn-lg btn-outline-primary btn-block bg-warning font-weight-bold">
          StartToSaveNoella
        </button>
      </div>
      <div class="col-sm-8">
        <li class="list-group-item" *ngFor="let item of startToSaveNoella">
          <app-accounts-modify [account]="item"></app-accounts-modify>
        </li>
      </div>
    </div>
    <br>

    <div class="row justify-content-sm-center">
      <div class="col-sm-4">
        <button class="btn btn-lg btn-outline-primary btn-block bg-warning font-weight-bold">
          StartToSaveDanny
        </button>
      </div>
      <div class="col-sm-8">
        <li class="list-group-item" *ngFor="let item of startToSaveDanny">
          <app-accounts-modify [account]="item"></app-accounts-modify>
        </li>
      </div>
    </div>
    <br>

    <div class="row justify-content-sm-center">
      <div class="col-sm-4">
        <button class="btn btn-lg btn-outline-primary btn-block bg-warning font-weight-bold">
          StartToSave
        </button>
      </div>
      <div class="col-sm-8">
        <li class="list-group-item" *ngFor="let item of startToSave">
          <app-accounts-modify [account]="item"></app-accounts-modify>
        </li>
      </div>
    </div>
    <br>

    <div class="row justify-content-sm-center">
      <div class="col-sm-4">
        <button class="btn btn-lg btn-outline-primary btn-block bg-warning font-weight-bold">
          Spaarboek
        </button>
      </div>
      <div class="col-sm-8">
        <li class="list-group-item" *ngFor="let item of savingAccount">
          <app-accounts-modify [account]="item"></app-accounts-modify>
        </li>
      </div>
    </div>
    <br>

    <div class="row justify-content-sm-center">
      <div class="col-sm"><label class="btn btn-outline-primary btn-block disabled font-weight-bold">
        Totaal</label>
      </div>
      <div class="col-sm-8"> {{ (sum$ | async)?.total | currency:"EUR":"symbol":"2.2-2" }}</div>
    </div>
    <br>

  </div>
</div>
