<h3 class="bg-primary p-1 text-white text-center">Maandelijkse kosten</h3>
<br>

<form [formGroup]="monthlyForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="col-sm-1">
      <h5>Nieuw</h5>
    </div>
    <br>

    <div class="container">
      <div class="row justify-content-sm-center">
        <div class="col-sm-3">
          <input id="purchaseDescription" class="form-control" type="text" formControlName="description" required
                 placeholder="Winkel">
          <div *ngIf="f.description.invalid && (f.description.dirty || f.description.touched)"
               class="alert alert-danger">
            <div *ngIf="f.description.errors.required">
              Name is required.
            </div>
          </div>
        </div>

        <div class="col-sm-2">
          <input id="purchaseAmount" class="form-control" type="text" formControlName="amount" required
                 placeholder="Bedrag">
          <div *ngIf="f.amount.invalid && (f.amount.dirty || f.amount.touched)"
               class="alert alert-danger">
            <div *ngIf="f.amount.errors.pattern">
              No characters allowed
            </div>
            <div *ngIf="f.amount.errors.required">
              Amount is required.
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="input-group">
            <input class="form-control" formControlName="extraComment" type="text">
          </div>
        </div>

        <div class="col-sm-1">
          <button type="submit" data-toggle="tooltip" data-placement="right" title="Voeg toe"
                  [disabled]="!monthlyForm.valid"><i class="fa fa-plus fa-2x"></i></button>
        </div>

        <div class="col-sm-1">
          <button class="btn btn-outline-primary btn-block bg-light font-weight-bold" data-toggle="tooltip"
                  data-placement="right" title="Home" routerLink="/home/home"><i class="fa fa-home fa-lg"></i></button>
        </div>

        <div class="col-sm-1">
          <button class="btn btn-outline-primary btn-block bg-light font-weight-bold" data-toggle="tooltip"
                  data-placement="right" title="Uitloggen" routerLink="/admin/login"><i
            class="fa fa-sign-out fa-lg"></i></button>
        </div>

      </div>
    </div>
  </div>
</form>

<br>

<div class="container">
    <li class="list-group-item" *ngFor="let item of monthlyCharges">
      <div class="row justify-content-sm-center">
        <div class="col-sm-3">{{item.description}}</div>
        <div class="col-sm-2">
          <input  class="form-control" type="text"  required
                 value="{{item.amount}}">
        </div>
        <div class="col-sm-4">
          <input  class="form-control" type="text"  required
                 value="{{item.extraComment}}">
        </div>
        <div class="col-sm-1">
          <span class="hover-cursor text-danger pull-right" data-toggle="tooltip" data-placement="right" title="Voeg toe aan vaste lasten"
                (click)="addFixedCharges(item)">
             <i class="fa fa-plus fa-lg"></i>
           </span>
        </div>
        <div class="col-sm-1">
          <span class="hover-cursor text-danger pull-right" data-toggle="tooltip" data-placement="right" title="Verwijder"
                (click)="onDelete(item.id)">
             <i class="fa fa-trash-o fa-lg"></i>
           </span>
        </div>

      </div>
    </li>

</div>
<br>
