<form [formGroup]="monthlyRevenuesForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="col-sm-3">
      <h5>Maandelijkse Inkomsten</h5>
    </div>
    <br>

    <div class="container">
<!--      TODO add genre-->
      <div class="row justify-content-sm-center">
        <div class="col-sm-4">
          <input id="purchaseDescription" class="form-control" type="text" formControlName="description" required
                 placeholder="Inkomen">
          <div *ngIf="f.description.invalid && (f.description.dirty || f.description.touched)"
               class="alert alert-danger">
            <div *ngIf="f.description.errors.required">
             Dit veld is verplicht.
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <input id="purchaseAmount" class="form-control" type="text" formControlName="amount" required
                 placeholder="Bedrag">
          <div *ngIf="f.amount.invalid && (f.amount.dirty || f.amount.touched)"
               class="alert alert-danger">
            <div *ngIf="f.amount.errors.pattern">
             Geen karakters toegestaan
            </div>
            <div *ngIf="f.amount.errors.required">
             Bedrag is verplicht
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <button type="submit" data-toggle="tooltip" data-placement="right" title="Voeg toe" [disabled]="!monthlyRevenuesForm.valid"><i class="fa fa-plus fa-2x"></i></button>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-outline-primary btn-block bg-light font-weight-bold" data-toggle="tooltip" data-placement="right" title="Home"routerLink="/home/home" ><i class="fa fa-home fa-lg"></i></button>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-outline-primary btn-block bg-light font-weight-bold" data-toggle="tooltip" data-placement="right" title="Uitloggen"routerLink="/admin/login" ><i class="fa fa-sign-out fa-lg"></i></button>
        </div>
      </div>
    </div>
  </div>
</form>

<br>
<div class="container">
  <li class="list-group-item" *ngFor="let item of monthlyRevenues">
    <div class="row justify-content-sm-center">
      <div class="col-sm-2">
        {{item.amount}}
<!--        <input class="form-control" formControlName="description" value="{{item.amount}}">-->
      </div>
<!--      <div class="col-sm-1">-->
<!--        <input  class="form-control" formControlName="amount" type="text"  required-->
<!--                value="{{item.amount | currency:'EUR':'symbol':'2.2-2'}}">-->
<!--        <div *ngIf="f.amount.invalid && (f.amount.dirty || f.amount.touched)"-->
<!--             class="alert alert-danger">-->
<!--          <div *ngIf="f.amount.errors.pattern">-->
<!--            Karakters niet toegestaan-->
<!--          </div>-->
<!--          <div *ngIf="f.amount.errors.required">-->
<!--            Bedrag verplicht-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <div class="col-sm-2">
        {{item.description}}
<!--        <input  class="form-control" formControlName="extraComment" type="text" value="{{item.description}}">-->
      </div>
      <div class="col-sm-2">
        {{item.genre}}
<!--        <input  class="form-control" formControlName="extraComment" type="text" value="{{item.genre}}">-->
      </div>
      <div class="col-sm-1">
          <span class="hover-cursor text-danger pull-right" data-toggle="tooltip" data-placement="right" title="Voeg toe aan inkomsten"
                (click)="addRevenues(item)">
             <i class="fa fa-plus fa-lg"></i>
           </span>
      </div>
      <!--        TODO modify-->
      <div class="col-sm-1">
        <!--          <span class="hover-cursor text-danger pull-right" data-toggle="tooltip" data-placement="right" title="Wijzig"-->
        <!--                (click)="addFixedCharges(item)">-->
        <!--             <i class="fa fa-plus fa-lg"></i>-->
        <!--           </span>-->
        <!--          <div class="col-sm-1">-->
        <!--            <button class="hover-cursor text-danger pull-right" type="submit" data-toggle="tooltip" data-placement="right" title="Wijzig" [disabled]="!changeForm.valid">-->
        <button class="hover-cursor text-danger pull-right" type="submit" data-toggle="tooltip" data-placement="right" title="Wijzig" >
          <i class="fa fa-edit fa-lg"></i></button>
        <!--          </div>-->
      </div>
      <div class="col-sm-1">
          <span class="hover-cursor text-danger pull-right" data-toggle="tooltip" data-placement="right" title="Verwijder"
                (click)="onDelete(item.id)">
             <i class="fa fa-trash-o fa-lg"></i>
           </span>
      </div>

    </div>
  </li>

</div>

<!--TODO voeg genre toe bij een nieuwe inkomst-->
