<div class="container">
  <div class="col-sm-1">
    <h5>Uitgaven</h5>
  </div>
  <br>
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="col-sm-6">Omschrijving</div>
      <div class="col-sm-2">Bedrag</div>
      <div class="col-sm-3">Datum</div>
      <div class="col-sm-1">Verwijder</div>
    </div>

    <li class="list-group-item" *ngFor="let item of budgets | paginate: { itemsPerPage: count, currentPage: p }">
      <div class="row justify-content-sm-center">
        <div class="col-sm-6">{{item.description}}</div>
        <div class="col-sm-2"> {{item.amount}}</div>
        <div class="col-sm-3"> {{item.budgetDate}}</div>
        <div class="col-sm-1">
        <span class="hover-cursor text-danger pull-right" (click)="onDelete(item.id)">
           <i class="fa fa-trash-o fa-lg"></i>
         </span>
        </div>
      </div>
    </li>
  </div>

  <br>
  <!--Including the pagination control.-->
  <div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

</div>

