<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Expenses</th>
  </tr>

  <div class="row">
    <div class="col-3">Omschrijving</div>
    <div class="col-2">Bedrag</div>
    <div class="col-2">Datum</div>
    <div class="col-2" align="right">Verwijder</div>
  </div>
  </thead>

  <li class="list-group-item" *ngFor="let item of budgets">
    <div class="row">
      <div class="col-3">
        {{item.description}}
      </div>
      <div class="col-2">
        {{item.amount}}
      </div>
      <div class="col-2">
        {{item.budgetDate}}
      </div>
      <div class="col-2">
        <span class="hover-cursor text-danger pull-right" (click)="onDelete(item.id)">
           <i class="fa fa-trash-o fa-lg"></i>
         </span>
      </div>
    </div>
  </li>

</table>
