<app-budget-add (add)="addShopping($event)"></app-budget-add>
<!--<app-budget-list [budgets]="shoppings" (delete)="deleteShopping($event)"></app-budget-list>-->

<div class="col-3 p-2">
<!--  <tr>-->
<!--    <td>-->
<!--      <button class="btn btn-secondary m-1" routerLink="/cart">Home</button>-->
<!--    </td>-->
<!--  </tr>-->
  <tr>
    <td>
      <button class="btn btn-secondary m-1" routerLink="/budget/shopping">Shopping</button>
      <button class="btn btn-secondary m-1" routerLink="/budget/visa">Visa</button>
    </td>
  </tr>
</div>
