<div class="col-3 p-2">
  <div>
    <input id="startAmount" class="form-control" type="text" required  placeholder="StartAmount" value="{{startAmount$ | async}}">
    <button class="btn btn-secondary m-1" (click)="updateStartAmount()">Modify</button>
  </div>
  <div>
    <button class="btn btn-secondary m-1" routerLink="/budget/shopping">Shopping {{ (sum$ | async)?.shopping }}</button>
  </div>
  <div>
    <button class="btn btn-secondary m-1" routerLink="/budget/visa">Visa {{ (sum$ | async)?.visa }}</button>
  </div>
  <div>
    total : {{ (sum$ | async)?.total }}
  </div>
  <div>
    result : {{ result$ | async }}
  </div>
</div>
