<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Expenses</th>
  </tr>

  <div class="row">
    <div class="col-3">Description</div>
    <div class="col-2">Amount</div>
    <div class="col-2">Date</div>
    <div class="col-2">Genre</div>
    <div class="col-2" align="right">Delete</div>
  </div>
  </thead>

  <li class="list-group-item" *ngFor="let item of shoppings">
    <div class="row">
      <div class="col-3">
        {{item.purchaseDescription}}
      </div>
      <div class="col-2">
        {{item.purchaseAmount}}
      </div>
      <div class="col-2">
        {{item.purchaseDate}}
      </div>
      <div class="col-2">
        {{item.genre}}
      </div>
      <div class="col-2">
        <span class="hover-cursor text-danger pull-right" (click)="onDelete(item.id)">
           <i class="fa fa-trash-o fa-lg"></i>
         </span>
      </div>
    </div>
  </li>

</table>
